version: "3"

services:
  prometheus:
    image: prom/prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  loki:
    image: grafana/loki:2.9.0
    restart: always
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  tempo:
    image: grafana/tempo:2.4.1
    volumes:
      - ./tempo-config.yml:/etc/tempo/config.yml
    command: -config.file=/etc/tempo/config.yml
    restart: always
    ports:
      - "3200:3200" # HTTP API
      - "4320:4317" # OTLP gRPC
      - "4321:4318" # OTLP HTTP

  grafana:
    image: grafana/grafana:10.0.3
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki
      - tempo
    volumes:
      - ./grafana-data:/var/lib/grafana
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    network_mode: "host"
    pid: "host"
    volumes:
      - /:/host:ro,rslave
    command:
      - "--path.rootfs=/host"
