version: "3.8"

services:
  oracle-db:
    image: gvenzl/oracle-free:23-slim
    container_name: oracle-db
    restart: always
    ports:
      - "1521:1521"
      - "5500:5500"
    environment:
      ORACLE_PASSWORD: root
      ORACLE_DATABASE: wandoor_db
      APP_USER: wandoor
      APP_USER_PASSWORD: root
    volumes:
      - oracle-data:/opt/oracle/oradata
    networks:
      - wandoor-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "echo 'SELECT 1 FROM dual;' | sqlplus -s system/root@XEPDB1 || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service=oracle-db"

  redis:
    image: redis:7.2-alpine
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "rediswandoor"]
    volumes:
      - redis-data:/data
    networks:
      - wandoor-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service=redis"
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: always
    ports:
      - "9100:9100"
    command:
      - "--path.rootfs=/host"
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    pid: host
    volumes:
      - "/:/host:ro,rslave"

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    restart: always
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yml:/etc/promtail/config/config.yml:ro
    command: -config.file=/etc/promtail/config/config.yml

networks:
  wandoor-network:
    driver: bridge

volumes:
  oracle-data:
    driver: local
  redis-data:
    driver: local
