version: "3.8"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    restart: always
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml

  tempo:
    image: grafana/tempo:2.4.1
    container_name: tempo
    restart: always
    ports:
      - "3200:3200" # Tempo HTTP
      - "4320:4317" # OTLP gRPC
      - "4321:4318" # OTLP HTTP
    volumes:
      - ./tempo/tempo-config.yml:/etc/tempo/tempo.yml
    command: -config.file=/etc/tempo/tempo.yml

  grafana:
    image: grafana/grafana:10.0.3
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
